/* figtree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/figtree-v6-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffd900;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: white;
  border: 8px solid black;
  border-top: 10px;
  border-left: 5px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  overflow: hidden;
}

.card-image {
  height: 180px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder img {
  width: 288px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  background-color: #ffffff;
}

.card-content {
  padding: 16px;
}

.tag {
  display: inline-block;
  background-color: #ffd900;
  color: black;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 8px;
}

.published-date {
  font-size: 12px;
  color: #777;
  margin: 8px 0;
}

.card-title h2 {
  font-family: "Figtree";
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  margin: 8px 0;
}

.card-description {
  font-size: 14px;
  color: #7f7f7f55;
  margin-bottom: 16px;
}

.author {
  display: flex;
  align-items: center;
}

.author-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.author-name {
  font-size: 14px;
  font-weight: bold;
}
